<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>Nome: <input type="text" [maxLength]="100" /></p>
        </div>
        <div class="col-md-12">
            Tipo Documento: 
            <select name="tipo_documento">
                <option value="CPF" selected>CPF</option>
                <option value="RG">RG</option>
            </select>
            <span>Número Documento: </span><input type="text" value="teste"/>
        </div>
        <div class="col-md-12">
            <p>Nascimento: <input type="text" [maxLength]="10" /></p>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>